/* Front-end Style Guide

Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

Colors

Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

Typography
Body Copy

- Font size: 15px

Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700 */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 95%);
}

.main{
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.first{
    background-color: hsl(31, 77%, 52%);
    padding: 35px;
}

.first h1{
    font-size: 30px;
    padding-bottom: 30px;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
}

.first p{
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    padding-bottom: 50px;
}

.first button{
    background-color: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-style: hidden;
    border-radius: 20px;
    font-family: 'Lexend Deca', sans-serif;
}

.first button:hover{
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    border-style: solid;
    border-color: hsl(0, 0%, 95%);
}

.second{
    background-color: hsl(184, 100%, 22%);
    padding: 35px;
}

.second h1{
    font-size: 30px;
    padding-bottom: 30px;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
}

.second p{
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    padding-bottom: 50px;
}

.second button{
    background-color: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-style: hidden;
    border-radius: 20px;
    font-family: 'Lexend Deca', sans-serif;
}

.second button:hover{
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    border-style: solid;
    border-color: hsl(0, 0%, 95%);
}

.third{
    background-color: hsl(179, 100%, 13%);
    padding: 35px;
}

.third h1{
    font-size: 30px;
    padding-bottom: 30px;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
}

.third p{
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    padding-bottom: 50px;
}

.third button{
    background-color: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-style: hidden;
    border-radius: 20px;
    font-family: 'Lexend Deca', sans-serif;
}

.third button:hover{
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    border-style: solid;
    border-color: hsl(0, 0%, 95%);
    
}

img{
    padding-bottom: 30px;
    width: 50px;
}
.sticky a {
    float: right;
    color: #370fe9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
  }